<header class="jumbotron mt-4">
  <h1 class="display-3">A Warm Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
</header>

<div class="modal fade" id="addSignInDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to '<i class="fa fa-google"></i> Sign in with <b>Google</b>'.html_safe, login_path, class: "btn btn-danger btn-block btn-lg" %>
      </div>
    </div>
  </div>
</div>
