<nav id="sidebar">
  <div class="sidebar-header">
    <h4>
      <%= link_to "Invoice Storage", admin_dashboard_path %>
    </h4>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#home_submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Master</a>
      <ul class="collapse list-unstyled" id="home_submenu">
        <li>
          <%= link_to "Countries", admin_countries_path, class: "nav-link" %>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li><%= link_to "Sign out", logout_path, method: :delete %></li>
  </ul>
</nav>
