<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to '<i class="fab fa-google"></i> Sign in with Google'.html_safe, login_path, class: "btn btn-danger btn-block btn-lg" %>
      </div>
    </div>
  </div>
</div>
